.App {
  text-align: center;
}
.book-card{
  margin-bottom: 30px;
}

.image-placeholder{
  background-color: #D3D3D3;
  width:180px;
  height:240px;
}

.image-class{
  width:180px;
  height:240px;
}

.marginLeft{
  margin-left:30px;
}

.search-margin{
  margin-bottom: 40px;
  margin-top:40px;
}


