.App {
  text-align: center;
}
.book-card{
  margin-bottom: 30px;
}

.image-placeholder{
  background-color: #D3D3D3;
  width:180px;
  height:240px;
  margin-left:30px;
}

.image-class{
  width:180px;
  height:240px;
  border-radius:10%;
}

.search-margin{
  margin: 40px;

}


.prev-next-btn{
  display:flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.no-result{
  font-size:large;
}

.book-title{
  margin-top:10px
}